<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bulma.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/font-awesome.min.css') }}">
    </head>
    <body>
<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="https://bulma.io/">
        Acceuil
      </a>
      <a class="navbar-item" href="https://bulma.io/">
        Blog
      </a>
      <a class="navbar-item" href="https://bulma.io/">
        Contactez Nous
      </a>
*
    </div>

    <div class="navbar-end">
      <a class="navbar-item" href="https://bulma.io/">
        Acceuil
      </a>
      <a class="navbar-item" href="https://bulma.io/">
        Blog
      </a>
    </div>
  </div>
</nav>
</nav>
<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Mini Projet en Symfony
      </h1>
      <h2 class="subtitle">
        By SALIH Abdelkarim
      </h2>
    </div>
  </div>
</section>
        {% block body %}
            
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
