{% extends '::back.html.twig' %}

{% block body %}

<h1>Page pour Admin</h1>    
<p>{{ app.user.username }}</p>
<p>{{ app.user.email }}</p>
{% for role in app.user.roles %}
    <p>{{ role }}</p>
{% endfor %}
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="#">Home</a></li>
  <li class="breadcrumb-item active">Library</li>
</ol>
{% endblock %}